<!DOCTYPE html>
<html lang="pt-br" class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dow Jones Skins</title>
    <link rel="stylesheet" href="../css/bulma.min.css">
    <link rel="stylesheet" href="../css/owncss.css" defer>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script type="module" defer src="../JS/scripts/userInfos.js"></script>
    <script type="module" defer src="../JS/scripts/userIndex.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>