<nav aria-label="dropdown navigation" class="navbar is-fixed-top">
    <a class="navbar-item"></a><a href="index"><img alt="Global Logo" height="28" src="https://i.imgur.com/SZLoCjp.png" width="112"></a>
    <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">DJSkins</a>
        <div class="navbar-dropdown">
            <a class="navbar-item" href="daytrade">Day Trade</a> <a class="navbar-item" href="fairtrade">Fair Trade</a> <a class="navbar-item" href="perfil">Minha Conta</a> <a class="navbar-item">Configurações</a>
            <hr class="navbar-divider">
            <div class="navbar-item">
                Beta 0.1
            </div>
        </div>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a class="navbar-end button is-dark is-outlined" href="/login"><span class="icon"><i class="fab fa-steam"></i></span> <span>Login With Steam</span></a>
            </div>
        </div>
    </div>
</nav>

<section class="hero is-danger">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Day Trading</h1>
            <h2 class="subtitle">Veja os valores em tempo real de skins!</h2>
        </div>
    </div>
</section>

<div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
        <div class="tile">
            <div class="tile is-parent is-vertical">
                <div class="tile is-parent">
                    <article class="tile is-child notification is-roxofoda">
                        <p class="title">Armas mais valiosas!</p>
                        <p class="subtitle">AWP - Asiimov - R$ 1900,00</p>
                        <p class="subtitle">AWP - Asiimov - R$ 1900,00</p>
                        <p class="subtitle">AWP - Asiimov - R$ 1900,00</p>
                        <p class="subtitle">AWP - Asiimov - R$ 1900,00</p>
                        <p class="subtitle">AWP - Asiimov - R$ 1900,00</p>
                        <p class="subtitle">AWP - Asiimov - R$ 1900,00</p>
                        <p class="subtitle">AWP - Asiimov - R$ 1900,00</p>
                    </article>
                </div>
            </div>
            <div class="tile is-parent is-vertical">
                <div class="tile is-parent">
                    <article class="tile is-child notification is-roxomedio">
                        <p class="title">Últimas armas depositadas</p>
                        <p class="subtitle">Verilog - R$ 500,00</p>
                        <p class="subtitle">Verilog - R$ 500,00</p>
                        <p class="subtitle">Verilog - R$ 500,00</p>
                        <p class="subtitle">Verilog - R$ 500,00</p>
                        <p class="subtitle">Verilog - R$ 500,00</p>
                        <p class="subtitle">Verilog - R$ 500,00</p>
                        <p class="subtitle">Verilog - R$ 500,00</p>
                        <p class="subtitle">Verilog - R$ 500,00</p>
                        <p class="subtitle">Verilog - R$ 500,00</p>
                        <p class="subtitle">Verilog - R$ 500,00</p>
                        <p class="subtitle">Verilog - R$ 500,00</p>
                        <p class="subtitle">Verilog - R$ 500,00</p>
                        <p class="subtitle">Verilog - R$ 500,00</p>
                        <p class="subtitle">Verilog - R$ 500,00</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="tile is-parent is-vertical">
        <div class="tile is-parent">
            <article class="tile is-child notification is-roxoclaro">
                <div id="corfontecoluna">
                    <p class="title">Últimas armas depositadas</p>
                    <p class="subtitle">Verilog - R$ 500,00</p>
                    <p class="subtitle">Verilog - R$ 500,00</p>
                    <p class="subtitle">Verilog - R$ 500,00</p>
                    <p class="subtitle">Verilog - R$ 500,00</p>
                    <p class="subtitle">Verilog - R$ 500,00</p>
                    <p class="subtitle">Verilog - R$ 500,00</p>
                    <p class="subtitle">Verilog - R$ 500,00</p>
                    <p class="subtitle">Verilog - R$ 500,00</p>
                </div>
            </article>
        </div>
    </div>
</div>
<div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
        <div class="tile">
            <div class="tile is-parent is-vertical">
                <div class="tile is-parent">
                    <article class="tile is-child notification is-roxofoda">
                        <p class="title">Armas mais valiosas!</p>
                        <p class="subtitle">AWP - Asiimov - R$ 1900,00</p>
                        <p class="subtitle">AWP - Asiimov - R$ 1900,00</p>
                        <p class="subtitle">AWP - Asiimov - R$ 1900,00</p>
                        <p class="subtitle">AWP - Asiimov - R$ 1900,00</p>
                        <p class="subtitle">AWP - Asiimov - R$ 1900,00</p>
                        <p class="subtitle">AWP - Asiimov - R$ 1900,00</p>
                        <p class="subtitle">AWP - Asiimov - R$ 1900,00</p>
                    </article>
                </div>
            </div>
            <div class="tile is-parent is-vertical">
                <div class="tile is-parent">
                    <article class="tile is-child notification is-roxomedio">
                        <div id="corfontecoluna">
                            <p class="title">Últimas armas depositadas</p>
                            <p class="subtitle">Verilog - R$ 500,00</p>
                            <p class="subtitle">Verilog - R$ 500,00</p>
                            <p class="subtitle">Verilog - R$ 500,00</p>
                            <p class="subtitle">Verilog - R$ 500,00</p>
                            <p class="subtitle">Verilog - R$ 500,00</p>
                            <p class="subtitle">Verilog - R$ 500,00</p>
                            <p class="subtitle">Verilog - R$ 500,00</p>
                            <p class="subtitle">Verilog - R$ 500,00</p>
                            <p class="subtitle">Verilog - R$ 500,00</p>
                            <p class="subtitle">Verilog - R$ 500,00</p>
                            <p class="subtitle">Verilog - R$ 500,00</p>
                            <p class="subtitle">Verilog - R$ 500,00</p>
                            <p class="subtitle">Verilog - R$ 500,00</p>
                            <p class="subtitle">Verilog - R$ 500,00</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="tile is-parent is-vertical">
        <div class="tile is-parent">
            <article class="tile is-child notification is-roxoclaro">
                <div id="corfontecoluna">
                    <p class="title">Últimas armas depositadas</p>
                    <p class="subtitle">Verilog - R$ 500,00</p>
                    <p class="subtitle">Verilog - R$ 500,00</p>
                    <p class="subtitle">Verilog - R$ 500,00</p>
                    <p class="subtitle">Verilog - R$ 500,00</p>
                    <p class="subtitle">Verilog - R$ 500,00</p>
                    <p class="subtitle">Verilog - R$ 500,00</p>
                    <p class="subtitle">Verilog - R$ 500,00</p>
                    <p class="subtitle">Verilog - R$ 500,00</p>
                </div>
            </article>
        </div>
    </div>
</div>