<nav class="navbar is-fixed-top" aria-label="dropdown navigation">
    <a class="navbar-item">
    <a href="index"><img src="https://i.imgur.com/SZLoCjp.png" alt="Global Logo" width="112" height="28">
    </a>

    <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">DJSkins</a>
    <div class="navbar-dropdown">
        <a class="navbar-item" href="daytrade">Day Trade</a>
        <a class="navbar-item" href="fairtrade">Fair Trade</a>
        <a class="navbar-item" href="perfil">Minha Conta</a>
        <a class="navbar-item">Configurações</a>
        <hr class="navbar-divider">
        <div class="navbar-item">Beta 0.1</div>
    </div>
    </div>
    <div class="navbar-end">
    <div class="navbar-item">
        <a href="gerenciador-carteira">Carteira: R${{saldo}}</a>
    </div>
    <div class="navbar-item">
        <div class="buttons">
        <a class="navbar-end button is-dark is-outlined" href="/login">
            <span class="icon">
            <i class="fab fa-steam"></i>
            </span>
            <span>Login With Steam</span>
        </a>
        </div>
    </div>
    </div>
</nav>

<section class="hero is-danger">
    <div class="hero-body">
    <div class="container">
        <h1 class="title">{{ Nome da Skin }}</h1>
    </div>
    </div>
</section>

<div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
    <div class="tile">
        <div class="tile is-parent is-vertical">
        <div class="tile is-parent">
            <article class="tile is-child notification is-roxofoda">
            <p class="title">Ultimos depósitos.</p>
            <p class="subtitle">R$ 500,00</p>
            <p class="subtitle">R$ 500,00</p>
            <p class="subtitle">R$ 500,00</p>
            <p class="subtitle">R$ 500,00</p>
            <p class="subtitle">R$ 500,00</p>
            <p class="subtitle">R$ 500,00</p>
            <p class="subtitle">R$ 500,00</p>
            <p class="subtitle">R$ 500,00</p>
            <p class="subtitle">R$ 500,00</p>
            <p class="subtitle">R$ 500,00</p>
            <p class="subtitle">R$ 500,00</p>
            </article>
        </div>
        </div>
        <div class="tile is-parent is-vertical">
        <div class="tile is-parent">
            <article class="tile is-child notification is-roxomedio">
            <p class="title">Melhores ofertas.</p>
            <p class="subtitle">R$ 500,00</p>
            <p class="subtitle">R$ 500,00</p>
            <p class="subtitle">R$ 500,00</p>
            <p class="subtitle">R$ 500,00</p>
            <p class="subtitle">R$ 500,00</p>
            <p class="subtitle">R$ 500,00</p>
            <p class="subtitle">R$ 500,00</p>
            <p class="subtitle">R$ 500,00</p>
            <p class="subtitle">R$ 500,00</p>
            <p class="subtitle">R$ 500,00</p>
            <p class="subtitle">R$ 500,00</p>
            </article>
        </div>
        </div>
    </div>
    </div>
    <div class="tile is-parent is-vertical">
    <div class="tile is-parent">
        <article class="tile is-child notification is-roxoclaro">
        <div id="fontebranca">
            <p class="title">Mais baratas.</p>
            <p class="subtitle">R$ 500,00</p>
            <p class="subtitle">R$ 500,00</p>
            <p class="subtitle">R$ 500,00</p>
            <p class="subtitle">R$ 500,00</p>
            <p class="subtitle">R$ 500,00</p>
            <p class="subtitle">R$ 500,00</p>
            <p class="subtitle">R$ 500,00</p>
            <p class="subtitle">R$ 500,00</p>
            <p class="subtitle">R$ 500,00</p>
            <p class="subtitle">R$ 500,00</p>
            <p class="subtitle">R$ 500,00</p>
        </div>
        </article>
    </div>
    </div>
</div>